<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">

  <title>慶應義塾大学海洋研究会マリンヨットクラブ</title>
  </head>
<body id="top">
  <div id="page">
   <header>

    <hr width="100%" size="10" color="#1c1464">
    <div id="logo">
      <%= link_to(image_tag("logomark.jpg", height: "120"), "#logo") %><!--ロゴ-->
    </div>
    <nav>
      <ul>
        <a href="#kite"><li>ABOUT</li></a>
        <a href="#snsh"><li>SNS</li></a>
        <a href="#info"><li>INFO</li></a>
      </ul>
    </nav>
   </header>
    <div id="main">
      <%= link_to(image_tag("main.gif", height: "500")) %>
    </div>
    <div id="kite">
      <%= image_tag("kite.jpg", size: "120x160") %><!--ロゴ-->
    </div>
    <div id="aboutbox">
    <div id="about">
      <h1>ABOUT US</h1>
      <p class="infon">海洋研究会マリンヨットクラブ（略称　慶応マリン）は慶應義塾大学文化団体連盟所属の公認サークルです。ヨット、ウインドサーフィン、SUPの三種目を活動として楽しむと同時に、江ノ島を拠点としてマリンスポーツの発展にも貢献していけるように日々尽力しております。<br><br>
        This circle is a certified circle belonging to the Keio University Federation of Cultural Organizations. <br>As a marine sports circle, I enjoy working as a third type of yachting, wind surfing and SUP as activities and at the same time, I will work hard to contribute to the development.</p>
    </div>
    </div>
    <div id="toudai">
      <%= image_tag("toudai.gif", width: "500") %><!--ロゴ-->
    </div>
    <div id="sns">
      <h1 id="snsh">SNS</h1>
      <div id="snsbox">
      <div id="insta" >
      <a href="https://instawidget.net/v/user/keio.marine" id="link-6b33d6f8cade4006b71a50863ff1d17bd00ac949ef71dcbfd521f8efc1c5d426">@keio.marine</a>
      <script src="https://instawidget.net/js/instawidget.js?u=6b33d6f8cade4006b71a50863ff1d17bd00ac949ef71dcbfd521f8efc1c5d426&width=700px"></script>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkeiomarine%2F&tabs=timeline&width=300&height=400&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=1924847531142382" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <a class="twitter-timeline" data-width="300" data-height="400" data-link-color="#2B7BB9" href="https://twitter.com/KEIO_MARINE1951?ref_src=twsrc%5Etfw">Tweets by KEIO_MARINE1951</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      </div>

      <div id="info">
      <h1>INFOMATION</h1>
      <p id="jp" class="infon">【入部するには？】<br>
            いつでも体験お待ちしております。<br>
            何年生でも、いつからでも入部大歓迎！<br>
            まずは、体験試乗から！<br>
            下記アドレスにご連絡ください。<br>↓<br>
            keiomarine2018@gmail.com
          </p>
          <p id="en" class="infon">【HOW TO JOIN US】<br>
            ALWAYS, We are holding a trial session.<br>
            Even any grade, welcome to join us at any time!<br>
            First of all, from the trial ride!<br>
            Please contact the address below.<br>↓<br>
            keiomarine2018@gmail.com
          </p>
    </div>

      <div id="kamomebox" >
      <div id="kamomes">
        <div class="kamome">
          <%= image_tag("kamome.png", size: "35x18") %>
        </div>
        <div class="kamome">
          <%= image_tag("kamome.png", size: "40x20") %>
        </div>
      </div>
    </div>

<div id="roop">
</div>
  <footer id="copyright">
    <div id="line">
    </div>
    <p id="last">All created by members.<p><!--あとがき-->
  </footer>
</div>


<script>
var scrollElm = (function() {
  if('scrollingElement' in document) return document.scrollingElement;
  if(navigator.userAgent.indexOf('WebKit') != -1) return document.body;
  return document.documentElement;
})();
(function() {
  var duration = 500;
  var ignore = '.noscroll';
  var easing = function (t, b, c, d) { return c * (0.5 - Math.cos(t / d * Math.PI) / 2) + b; }; //jswing
  var smoothScrollElm = document.querySelectorAll('a[href^="#"]:not(' + ignore +')');
  Array.prototype.forEach.call(smoothScrollElm, function(elm) {
    elm.addEventListener('click', function(e) {
      e.preventDefault();
      var targetElm = document.querySelector(elm.getAttribute('href'));
      if(!targetElm) return;
      var targetPos = targetElm.getBoundingClientRect().top;
      var startTime = Date.now();
      var scrollFrom = scrollElm.scrollTop;
      (function loop() {
        var currentTime = Date.now() - startTime;
        if(currentTime < duration) {
          scrollTo(0, easing(currentTime, scrollFrom, targetPos, duration));
          window.requestAnimationFrame(loop);
        } else {
          scrollTo(0, targetPos + scrollFrom);
        }
      })();
    })
  });
})();
</script>



</body>
</html>
