<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>慶應義塾大学海洋研究会マリンヨットクラブ</title>
</head>
<body id="top">
  <div id="page">
   <header>
    <div id="name">
      <marquee scrollamount="4">慶應義塾大学海洋研究会マリンヨットクラブは１９５１年に創部された文化団体連盟サークルです。　　　Keio University Ocean Research Group Marine Yacht Club is a cultural association federation circle founded in 1951.</marquee>
    </div>
    <div id="logo">
      <%= link_to(image_tag("mark2.png", size: "100x100"), "#logo") %><!--ロゴ-->
    </div>
   </header>
    <div id="main">
      <%= link_to(image_tag("main.jpg", size: "800x600")) %>
    </div>
    <div id="kite">
      <%= image_tag("kite.jpg", size: "120x160") %><!--ロゴ-->
    </div>
    <div id="aboutbox">
    <div id="about">
      <h1>ABOUT US</h1>
      <p class="infon">本サークルは慶應義塾大学文化団体連盟に所属している公認サークルです。マリンスポーツサークルとして、ヨット、ウインドサーフィン、SUPの三種目を活動として楽しむと同時に、その発展にも貢献していけるように日々尽力して入ります。<br><br>
        This circle is a certified circle belonging to the Keio University Federation of Cultural Organizations. As a marine sports circle, I enjoy working as a third type of yachting, wind surfing and SUP as activities and at the same time, I will work hard to contribute to the development.</p>
    </div>
    </div>
    <div id="toudai">
      <%= image_tag("toudai.jpg", size: "250x250") %><!--ロゴ-->
    </div>
    <div class="slider">
      <input type="radio" name="slider" class="nav" checked="checked"/>
      <input type="radio" name="slider" class="nav"/>
      <input type="radio" name="slider" class="nav"/>
      <ul class="slider_in">
        <li>
          <div>
            <h1>WINDSURF</h1>
            <div id="movie">
              <%= video_tag ["/video/wind.mp4"], :autoplay => true, :loop => true, :muted => true, :size => '400' %>
            </div>
            <div class="info">
              <p class="infon">
                Windsurfing is a sport that rigs (sails) are attached to the board and lightly slides on the water using the wind.<br><br>
                ウインドサーフィンはボードに帆（リグ）を取り付けることで、風を利用して軽快に水上を滑走するスポーツです。
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <h1>SUP</h1>
            <div id="movie">
              <%= video_tag ["/video/wind.mp4"], :autoplay => true, :loop => true, :muted => true, :size => '400' %>
            </div>
            <div class="info">
              <p class="infon">
                SUP (Stand Up Paddle) stands on board with paddle as the word is, is a marine sports that everyone can enjoy easily.<br><br>
                SUP(スタンドアップパドル）は言葉の通りパドルを持ってボードの上に立ち、誰でも気軽に楽しむことができるマリンスポーツです。
              </p>
            </div>
          </div>
          </li>
        <li>
          <div>
            <h1>YACHT</h1>
            <div id="movie">
              <%= video_tag ["/video/wind.mp4"], :autoplay => true, :loop => true, :muted => true, :size => '400' %>
            </div>
            <div>
              <div class="info">
                <p class="infon">
                  Windsurfing is a sport that rigs (sails) are attached to the board and lightly slides on the water using the wind.<br><br>
                  ウインドサーフィンはボードにリグ(帆)を取り付けることで、風を利用して軽快に水上を滑走するスポーツです。
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="info">
      <h1>INFOMATION</h1>
      <p id="jp" class="infon">【入部するには？】<br>
            いつでも体験お待ちしております。<br>
            何年生でも、いつからでも入部大歓迎！<br>
            まずは、体験試乗から！<br>
            下記アドレスにご連絡ください。<br>↓<br>
            keiomarine2018@gmail.com
          </p>
          <p id="en" class="infon">【HOW TO JOIN US】<br>
            ALWAYS, We are holding a trial session.<br>
            Even any grade, welcome to join us at any time!<br>
            First of all, from the trial ride!<br>
            Please contact the address below.<br>↓<br>
            keiomarine2018@gmail.com
          </p>
    </div>
    <div id="kamomebox" >
      <div id="kamomes">
        <div class="kamome">
          <%= image_tag("kamome.png", size: "35x18") %>
        </div>
        <div class="kamome">
          <%= image_tag("kamome.png", size: "40x20") %>
        </div>
      </div>
    </div>

<div id="roop">
</div>
  <footer id="copyright">
    <div id="line">
    </div>
    <p id="last">All created by members.<p><!--あとがき-->
  </footer>
</div>


<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 0,
        centeredSlides: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });

    // スムーススクロールを起動する
    $("document").ready(function () {
        $("#theTarget").skippr();
    });

    // オプションを指定してSkipperの実行
    $("#theTarget").skippr({
        // スライドショーの変化 ("fade" or "slide")
        transition: 'slide',
        // 変化に係る時間(ミリ秒)
        speed: 1500,
        // easingの種類
        easing: 'easeOutQuart',
        // ナビゲーションの形("block" or "bubble")
        navType: false,
        // 子要素の種類("div" or "img")
        childrenElementType: 'img',
        // ナビゲーション矢印の表示(trueで表示)
        arrows: false,
        // スライドショーの自動再生(falseで自動再生なし)
        autoPlay: true,
        // 自動再生時のスライド切替間隔(ミリ秒)
        autoPlayDuration: 2100,
        // キーボードの矢印キーによるスライド送りの設定(trueで有効)
        keyboardOnAlways: false,
        // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
        hidePrevious: false
    });
1

</script>



</body>
</html>

